
.btn_bar_wrap{position: relative;z-index: 999;}
#top_wrap{width: 100%;min-width: 1200px;display: block;}
#top_wrap img{width: 100%;min-width: 1200px;}
#top_wrap img.top_one{display: none;}
#top_wrap img.top_two{display: none;}
#banner_wrap{width: 100%;min-width: 1200px;}

#banner_wrap .banner{width: 100%;min-width: 1200px;height: 500px; position: relative;}
#banner_wrap .banner .banner_pic img{width: 100%;height: 500px; float: left;position: absolute;}
#banner_wrap .banner ._banner_spic{ position: absolute;width: 500px;height: 35px;left: 720px;top: 450px;}
#banner_wrap .banner ._banner_spic img{width: 150px;height: 35px;float: left;margin-left:10px;border: 1px solid #fff;}
#banner_wrap .banner ._banner_spic img:hover{border-color: #9b5251;}
#banner_wrap .banner ._banner_spic img.col{border-color: #9b5251;}
/*未解决*****************************************************************************/
#scroll_bar_wrap{width: 100%;min-width: 1200px;}
#scroll_bar_wrap .scroll_bar{width: 1200px;height: 30px;line-height: 30px; margin: 0 auto;background: #f2f2f2;margin-top: 20px;position: relative;}
.scroll_bar .scroll_con_wrap{width: 1035px;height: 30px;line-height: 30px;float: left;overflow: hidden;position: relative;}
.scroll_bar_name{margin:0 30px;color: #FF0000;float: left;}
.scroll_bar .scroll_con_wrap li{padding-right: 65px;float: left; }
.scroll_bar .scroll_con_wrap .scroll_con{width: 2070px;height: 30px; position: absolute;left: 0;}
/*到这里*********************************************************************************/


#content_wrap{width: 100%;min-width: 1200px;margin-top: 50px;}
#content_wrap .con_hr{width: 1200px;margin: 0 auto;position: relative;}
#content_wrap .con_hr div{width: 1200px;height: 16px;border-bottom: 1px solid #666;}
#content_wrap .con_hr span{background: #fff; position: absolute;left: 515px;top: 0; display: inline-block;width: 140px;height: 30px;letter-spacing: 3px;line-height: 30px;text-align: center;font-size: 14px;color: #444;}

.content_wrap{width: 100%;height: 465px;}
.content_byc{width: 1200px;margin: 0 auto;padding-top:30px;height: 465px;}
.content_byc .pics{width: 140px;height: 465px; float: left;position: relative;cursor: pointer;}
.content_byc .content_byc_box{bottom: 0; width: 140px;height: 255px;position: absolute;right: 0;padding-top: 20px;background: #f9f9f9;}
.content_byc .content_byc_box .content_byc_jieshao{width: 120px;height: 176px;padding: 10px;font-size: 13px;color: #999;}

.content_byc .big{width: 780px;height: 465px;position: relative;}
.content_byc .big .content_byc_box{ width: 378px;height: 160px;padding-top: 20px;background: #f9f9f9;position: absolute;bottom: 20px;right: 0;}
.content_byc .big .content_byc_box div{width: 378px;text-align: center;}
.content_byc .big .content_byc_box .content_byc_tit{font-size: 20px;color: #2a2a2a;}
.content_byc_wrap .content_byc .big .content_byc_box .content_byc_jieshao{width: 358px;height: 66px;padding: 10px;font-size: 12px;}
.content_byc_wrap .content_byc .big>.spic{display: none;}

.content_byc_wrap .content_byc>.big>.bigpic{display: block;width: 780px;height: 465px;position: absolute;left: 0px;}

/*.content_byc .big .bigpic{width: 780px;height: 465px;position: absolute;}*/
.content_byc .pics .bigpic{display: none;position: absolute;left: -780px;}
.content_byc .pics .content_byc_box .content_byc_tit{text-align: center;font-size: 20px;}
.content_byc .pics .content_byc_box .link{text-align: center;font-size: 14px;color: #000;}
.content_byc .pics .spic{width: 140px;height: 190px;position: absolute;}
.cut{width: 100%;position: relative;height: 800px;margin-top:30px ;}
.cut .cut_hr{width: 1200px;margin: 0 auto;position: relative;}
.cut .cut_hr div{width: 1200px;height: 16px;border-bottom: 1px solid #666;}
.cut .cut_hr span{background: #fff; position: absolute;left: 515px;top: 0; display: inline-block;width: 140px;height: 30px;letter-spacing: 3px;line-height: 30px;text-align: center;font-size: 14px;color: #444;}

.cut_wrap{width: 1200px;margin: 0 auto; position: relative;}
.cut_tit {width: 455px;height: 60px;margin: 0 auto;line-height: 60px;position: relative;}
.cut_tit li{float: left;font-size: 14px;color: #999;padding-right: 25px;}

.cut_con_wrap{width: 1200px;height: 370px;}
.cut_con_wrap .cut_con{width: 232px;height: 370px;float: left;margin-left: 10px;}
.cut_con_wrap .cut_con .tet{font-size: 12px;color: #666;text-align: center;cursor: pointer;}
.cut_con_wrap .cut_con .tet:hover{text-decoration: underline;}
.cut_con_wrap .cut_con .money{font-size: 14px;text-align: center;}


.cut_tit li.black{color: black;cursor: pointer;}



.conPic_block{width: 1200px;overflow: hidden;position: relative;height: 766px;}
.conPic_wrap{width: 8400px;position: absolute;height: 766px;}
.conPic{float: left;}

.pic_warp{min-width: 1200px;}
.picqu{width: 1200px;margin: 0 auto;padding-top: 30px;overflow: hidden;}
.pic_end{width: 1200px;margin: 0 auto;position: relative;padding-top: 30px;overflow: hidden;}
.pic_end .picqu_pic_con{cursor: pointer; position: absolute;width: 210px;height: 50px;padding: 10px;opacity: 0.8;background: #fff;right: 0;bottom: 35px;}
.picqu_pic .picqu_pic_con{cursor: pointer; position: absolute;width: 210px;height: 50px;padding: 10px;opacity: 0.8;background: #fff;right: 0;bottom: 35px;}
.picqu_pic_con p{width: 210px;text-align: center;line-height: 25px;color: #333;font-size: 14px;}
.picqu_pic_con h1{width: 210px;text-align: center;line-height: 25px;color: #000;font-size: 16px;}
.picqu_pic img{transition: transform 2s ease}
.pic_end .picqu_pic_con{width: 360px;height: 50px;opacity: 0.8;position: absolute;top: 53px;right: 125px;padding: 25px;}
.pic_end p{width: 360px;text-align: center;font-size: 15px;}
.pic_end h1{width: 360px;text-align: center;font-size: 20px;}
.pic_end:hover .picqu_pic_con{background-color: rgb(153,0,0);opacity: 1;}
.pic_end img{transition: transform 2s ease}
.pic_end:hover img{transform: scale(1.05);}
.pic_end:hover p{color: #fff;}
.pic_end:hover h1{color: #fff;}
/*.picqu_pic img:hover{}*/
.picqu_pic .small:hover img{transform: scale(1.1);}
.picqu_pic .big:hover img{transform: scale(1.1);}
.picqu_pic .small:hover .picqu_pic_con{background-color: rgb(153,0,0);opacity: 1;}
.picqu_pic .small:hover p{color: #fff;}
.picqu_pic .small:hover h1{color: #fff;}
.picqu_pic .big:hover .picqu_pic_con{background-color: rgb(153,0,0);opacity: 1;}
.picqu_pic .big:hover p{color: #fff;}
.picqu_pic .big:hover h1{color: #fff;}
/*.picqu_pic div{float: left;margin-top: 20px;width: 390px;height: 390px;margin-right:15px ;}*/
.picqu_pic .small{overflow: hidden; position: relative;float: left;margin-top: 20px;width: 390px;height: 390px;margin-right:15px ;}
.picqu_pic .big{overflow: hidden;width: 790px;height: 386px; position: relative;float: left;margin-top: 20px;margin-right:15px ;}
.pic_li li{float: left;margin: 20px 20px 0 0;}
.oLi{width: 495px;height: 645px;position: relative;}
.oLi .p1{width: 475px;padding: 10px;height: 40px;}
.oLi .p1 a{font-size: 20px;color: #2a2a2a;}
.oLi .p2{width: 475px;height: 110px;padding:0 10px 10px 0;font-size: 14px;color: #666;line-height: 22px;}


/*.pic_end{padding-top: 30px;position: relative;}*/


#footer_wrap{width: 100%;background: #222;height: 550px;margin-top: 23px;}
